<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<!DOCTYPE html>
<html>
<head>
	<title>elbgb_test results</title>
    <style>
        body { margin: 20px; font-family:Arial,Sans-Serif; }
		
		h1 { padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid silver; }
		
		.summary { border:1px solid silver; margin-bottom:20px; text-align:center; }
		
		.summary .passing { background-color:lime; color:black; }
		.summary .failing { background-color:red; color:white; }
		
        .results { width:100%; border-collapse:collapse; }
        .results, .results th, .results td { border:1px solid silver; }

		.results th { height:50px; }
		.results td { text-align:center; padding:5px; }
		.results td.name { text-align:left; }
        .results .passing { color:green; }
        .results .failing { color:red; }

        .duration { font-size:8pt; color:silver; }
    </style>
</head>
<body>
    <h1>elbgb_test results - <#= _manifestName #></h1>
    <div class="summary">
        <p>Executed <#= _testResults.Count #> tests in <#= _duration.TotalSeconds.ToString("F3") #> seconds (<#= TimeSpan.FromMilliseconds(_testResults.Sum(x => x.Duration)).ToString(@"hh\:mm\:ss\.fff") #> in tests).</p>
        <p><#= _testResults.Count(x => x.Result == TestStatus.Inconclusive) #> inconclusive, <#= _testResults.Count(x => x.Result == TestStatus.Failing) #> failing, <#= _testResults.Count(x => x.Result == TestStatus.Passing) #> passing</p>
    </div>
<#
    List<Test> changed = _testResults.Where(x => x.Result != x.Status).ToList();

    if (changed.Count > 0)
    {
#>
    <h2>Changed</h2>
    <table class="results">
		<tr>
			<th>Image</th>
			<th>Test</th>
			<th>Result</th>
			<th>Hash</th>
		</tr>
<#      foreach (var test in changed)
        { #>
		<tr>
			<td><img src="<#= Path.ChangeExtension(test.Name, "png") #>"</td>
			<td class="name"><#= test.Name #> <span class="duration"><#= test.Duration #>ms</span></td>
			<td class="<#= test.Result.ToString().ToLower() #>"><#= test.Result #></td>
			<td class="hash"><#= test.Hash #></td>
		</tr>
<#      } #>
	</table>
<#    } #>

    <h2>Failing/Passing</h2>
	<table class="results">
		<tr>
			<th>Image</th>
			<th>Test</th>
			<th>Result</th>
			<th>Hash</th>
		</tr>
<#  foreach (var test in _testResults.Where(x => x.Result == x.Status).OrderBy(x => x.Result))
    { #>
		<tr>
			<td><img src="<#= Path.ChangeExtension(test.Name, "png") #>"</td>
			<td class="name"><#= test.Name #> <span class="duration"><#= test.Duration #>ms</span></td>
			<td class="<#= test.Result.ToString().ToLower() #>"><#= test.Result #></td>
			<td class="hash"><#= test.Hash #></td>
		</tr>
<#  } #>
	</table>
</body>
</html>